.vscode/
Dockerfile
.dockerignore
.git
.gitignore
.github/
README.md
schema.sql
.npmrc
.prettierignore
.prettierrc
.eslintrc.cjs
.svelte-kit
.vscode
node_modules
build
package
**/.env
**/.env.*
client_secret.json